@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-gradient {
    background: linear-gradient(45deg, #1a237e 0%, #1565c0 33%, #ffffff 67%);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.text-gold {
    color: #daa520;
}